// colors are dark-to-light

$slate_1: #1b1d23;
$slate_2: #21252b;
$slate_3: #282c34;
$slate_4: #2d3139;

$silver_1: #9da5b4;
$silver_2: #d7dae0;

$blue: #3265b8;

$red: #b83232;
$green: #22872a;

$dist: 12px;
